* {
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

header{padding-top: 250px;}

body{background-color: antiquewhite;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgb(148, 107, 5);
    width: 100%;
    align-items: center;
    display:flex ;
    justify-content: space-between;
    height: 70px;
    color: antiquewhite;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    }

.intro p {font-size: 5cap;
text-align: center;
margin-left: 10rem;}

.intro { justify-content: space-between;
align-items: center;
display: flex; 
background-color: rgb(148, 107, 5) ;
color: antiquewhite;
margin-bottom: 30rem;
height: 30rem;
width: 100rem;
margin-left: 7rem;
border-radius: 10cap;}

.intro img {width: 400px;
margin-right: 10rem;}

h1 { text-align: center;}

.inicio {padding: 30px;
    font-size: 2cap;}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}
.producto{
    width: 400px;
    text-align: center;
    background-color:  rgb(148, 107, 5);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    
}

.producto h3 { font-size: 1.85rem;
color: antiquewhite;}

.producto h4 { font-size: 1.85rem;
background-color: antiquewhite;
border-radius: 20rem;
width: 15rem;
padding: 0.7rem;
margin-left: 17%;
}

.historia {margin-top: 30rem;
}
.historia h1 {font-size: 5cap;
}

.historia-parrafo {font-size: 3cap;
text-align: center;
margin-left: 5rem;
margin-right: 5rem;}

.historia-cont { justify-content: space-between;
align-items: center;
display: flex; 
background-color: rgb(148, 107, 5) ;
color: antiquewhite;
margin-bottom: 30rem;
height: 60rem;
width: 100rem;
margin-left: 7rem;
border-radius: 10cap;
}

.historia-cont img {width: 500px;
margin-right: 5rem;
}

.historia-cont figcaption {font-size: 1.5cap;
text-align: left;}





