:root {
    --azul-secundario:#1E223E;
    --azul-oscuro:#0F111F;
    --azul-fondo-iconos:#262B4E;
    --naranja:#FE6C05;
    --borde-naranja:#803605;
    --blanco-primario:#ffffff;
    --gris-inactivo:#9699AE;
    --negro:#000000;
        }



* {box-sizing: border-box;}


.barranavegacion nav {position: fixed;
background-color: var(--azul-secundario);
width: 100%;
top: 0;
left: 0;
justify-content: space-between;
display: flex;
align-items: center;
padding-right: 3em;
padding-left:3em ;
gap: 1em;
}


.botones-barra{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0%;padding: 40px;
            }

.barranavegacion nav div {display: flex;
align-items: center;
gap: 2em;}
            

.barranavegacion nav h1 {color: var(--blanco-primario);}

.barranavegacion nav ul {list-style-type: none;
display: flex;
gap :2em;}

.barranavegacion nav ul li{color: var(--gris-inactivo);}

.btn-secondary-lg-activate {border-color: var(--gris-inactivo);
background-color: transparent;
color: var(--gris-inactivo);
height: 40px;
border-radius: 10%;
width: 90px;}

.btn-primary-md-activate{background-color: var(--naranja);
border-color:var(--borde-naranja);
height: 40px;
border-radius: 10%;
width: 90px;
color: var(--negro);
font-size: 1.7ch;
}

body {margin-top: 1em;
width: 100%;
margin-left: 0;}

.oferta {background-color: var(--azul-oscuro);
color: var(--blanco-primario);
margin-top: 4em;
padding: 4em;}

.oferta h1 {text-align: center;
color: var(--naranja);}

.cajas-oferta{ 
display: flex;
flex-direction: row;
justify-content:  space-between;
gap: 20px; 
padding: 40px;
}

.izquierda, .Derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}



.caja-of {background-color: var(--azul-secundario);
text-align: center;
padding: 2em 20px;
border-radius: 7%;
border-color: var(--azul-fondo-iconos);
width: 50%;
}


.caja-of i {font-size: 4ch;
color: var(--naranja);
background-color: var(--azul-fondo-iconos);
padding :20px;
border-radius: 10%;}