:root {
    --azul-secundario: #1E223E;
    --azul-oscuro: #0F111F;
    --azul-fondo-iconos: #262B4E;
    --naranja: #FE6C05;
    --borde-naranja: #803605;
    --blanco-primario: #ffffff;
    --gris-inactivo: #9699AE;
    --negro: #000000;
    --gris-bordes:#505578;
}

body{background-color: var(--azul-oscuro);}

.nav-gmf {
background-color: var(--azul-secundario);
height: 80px;
width: 100%;
height: 100%;
margin: 0;
position: fixed;
}

#nav-vertical {
width: 15%;
height: 100%;
position: fixed;
background-color:var(--azul-secundario) ;
border-style: solid;
border-color: var(--azul-fondo-iconos);
border-width: 2px;
grid-column: 1/2;
grid-template-rows: 1/2;
}

.botones-laterales {
width: 100%;
height: 100%;
justify-content: start;
row-gap: 20px;}

.boton-lateral{background-color: transparent;
border-color: transparent;
height: 150%;}

.boton-lateral:hover {background-color: var(--naranja);
border-color: var(--borde-naranja);
color: var(--negro);
border-radius: 0%;}

.dropdown-gmf {background-color: var(--azul-secundario);
border-color: var(--azul-fondo-iconos);
border-style: solid;
border-width: 3px;
width: 80%;}

.boton-interno-dropdown{background-color: transparent;
border-color: transparent;
height: 150%;
color: var(--blanco-primario);}

.boton-interno-dropdown:hover {background-color: var(--naranja);
border-color: var(--borde-naranja);
color: var(--negro);
border-radius: 0%;}



.contenedor-tabla {
position: fixed; /* o fixed */
    right:  20%;
}



