:root {
    --mc-core-green-6: #2a641c;
    --mc-core-green-5: #3c8527;
    --mc-core-green-4: #52a535;
    --mc-core-green-3: #6cc349;
    --mc-core-green-2: #86d562;
    --mc-core-green-1: #a0e081;
    --mc-core-grey-6: #262423;
    --mc-core-grey-5: #3d3938;
    --mc-core-grey-4: #6b6562;
    --mc-core-grey-3: #aba09c;
    --mc-core-grey-2: #d0c5c0;
    --mc-core-grey-1: #ede5e2;
    --mc-core-rich-black: #000;
    --mc-core-off-black: #171615;
    --mc-core-white: #fff;
    --mc-core-off-white: #fcf5f1;
    --mc-core-gradient-dark-grey: linear-gradient(180deg, #3d3938, #262423 50%, #171615);
    --mc-core-gradient-green: linear-gradient(180deg, #6cc349, #52a535 50%, #3c8527);
    --mc-core-gradient-light-grey: linear-gradient(180deg, #fcf5f1, #ede5e2 50%, #d0c5c0);
    --mc-vanilla-green-6: #2a641c;
    --mc-vanilla-green-5: #3c8527;
    --mc-vanilla-green-4: #52a535;
    --mc-vanilla-green-3: #6cc349;
    --mc-vanilla-green-2: #86d562;
    --mc-vanilla-green-1: #a0e081;
    --mc-vanilla-brown-6: #492d1f;
    --mc-vanilla-brown-5: #66412c;
    --mc-vanilla-brown-4: #805539;
    --mc-vanilla-brown-3: #976746;
    --mc-vanilla-brown-2: #ad7a54;
    --mc-vanilla-brown-1: #c28e64;
    --mc-vanilla-blue-6: #002fae;
    --mc-vanilla-blue-5: #0040c8;
    --mc-vanilla-blue-4: #0855db;
    --mc-vanilla-blue-3: #1e6eea;
    --mc-vanilla-blue-2: #3a87f4;
    --mc-vanilla-blue-1: #5b9ffb;
    --mc-vanilla-grey-6: #262423;
    --mc-vanilla-grey-5: #3d3938;
    --mc-vanilla-grey-4: #6b6562;
    --mc-vanilla-grey-3: #aba09c;
    --mc-vanilla-grey-2: #d0c5c0;
    --mc-vanilla-grey-1: #ede5e2;
    --mc-vanilla-coldgrey-6: #2c2f3a;
    --mc-vanilla-coldgrey-5: #3d4250;
    --mc-vanilla-coldgrey-4: #4d5466;
    --mc-vanilla-coldgrey-3: #5d647a;
    --mc-vanilla-coldgrey-2: #6c748c;
    --mc-vanilla-coldgrey-1: #8089a2;
    --mc-legends-light-blue-6: #339cd7;
    --mc-legends-light-blue-5: #39b9eb;
    --mc-legends-light-blue-4: #4ad5ff;
    --mc-legends-light-blue-3: #70dfff;
    --mc-legends-light-blue-2: #95e8ff;
    --mc-legends-light-blue-1: #acf2ff;
    --mc-legends-dark-blue-6: #001236;
    --mc-legends-dark-blue-5: #00215c;
    --mc-legends-dark-blue-4: #00337d;
    --mc-legends-dark-blue-3: #003bab;
    --mc-legends-dark-blue-2: #005dcf;
    --mc-legends-dark-blue-1: #007ff2;
    --mc-legends-light-orange-6: #de7523;
    --mc-legends-light-orange-5: #e89133;
    --mc-legends-light-orange-4: #f1ad42;
    --mc-legends-light-orange-3: #f6c25a;
    --mc-legends-light-orange-2: #fad36f;
    --mc-legends-light-orange-1: #fddf93;
    --mc-legends-ultra-dark-blue: #071927;
    --mc-legends-ultra-dark-orange: #271505;
    --mc-dungeons-orange-6: #de5b0d;
    --mc-dungeons-orange-5: #ff791a;
    --mc-dungeons-orange-4: #ffa41f;
    --mc-dungeons-orange-3: #ffc42b;
    --mc-dungeons-orange-2: #ffd953;
    --mc-dungeons-orange-1: #fff27a;
    --mc-dungeons-red-6: #8f1f0b;
    --mc-dungeons-red-5: #b42d10;
    --mc-dungeons-red-4: #da3a16;
    --mc-dungeons-red-3: #ff481b;
    --mc-dungeons-red-2: #ff6d3a;
    --mc-dungeons-red-1: #ff925b;
    --mc-dungeons-mulberry-6: #190d19;
    --mc-dungeons-mulberry-5: #32122a;
    --mc-dungeons-mulberry-4: #4f1030;
    --mc-dungeons-mulberry-3: #530f33;
    --mc-dungeons-mulberry-2: #6c0e37;
    --mc-dungeons-mulberry-1: #7b0d3a;
    --mc-dungeons2-rich-blue: #002da5;
    --mc-dungeons2-blue-6: #010d29;
    --mc-dungeons2-blue-5: #011d47;
    --mc-dungeons2-blue-4: #013565;
    --mc-dungeons2-blue-3: #005483;
    --mc-dungeons2-blue-2: #146f95;
    --mc-dungeons2-blue-1: #298aa5;
    --mc-dungeons2-cyan-6: #03bde1;
    --mc-dungeons2-cyan-5: #03dafa;
    --mc-dungeons2-cyan-4: #36e6ff;
    --mc-dungeons2-cyan-3: #6cefff;
    --mc-dungeons2-cyan-2: #a3f7ff;
    --mc-dungeons2-cyan-1: #d9fcff;
    --mc-dungeons2-red-6: #210d0d;
    --mc-dungeons2-red-5: #640f0a;
    --mc-dungeons2-red-4: #8f1f0b;
    --mc-dungeons2-red-3: #b42d10;
    --mc-dungeons2-red-2: #da3a16;
    --mc-dungeons2-red-1: #ff481b;
    --mc-dungeons2-light-orange: #fdfdc2;
    --mc-realms-deep-blue-7: #050029;
    --mc-realms-deep-blue-6: #0c0248;
    --mc-realms-deep-blue-5: #210a80;
    --mc-realms-deep-blue-4: #401cac;
    --mc-realms-deep-blue-3: #643acb;
    --mc-realms-deep-blue-2: #8d68e0;
    --mc-realms-deep-blue-1: #bca4ec;
    --mc-realms-pink-6: #7f007a;
    --mc-realms-pink-5: #a40094;
    --mc-realms-pink-4: #d812b4;
    --mc-realms-pink-3: #e833c2;
    --mc-realms-pink-2: #f460d2;
    --mc-realms-pink-1: #fb95e2;
    --mc-marketplace-gold-6: #94540e;
    --mc-marketplace-gold-5: #b87918;
    --mc-marketplace-gold-4: #db9f21;
    --mc-marketplace-gold-3: #ffc42b;
    --mc-marketplace-gold-2: #ffd953;
    --mc-marketplace-gold-1: #fff27a;
    --mc-marketplace-grey-6: #262423;
    --mc-marketplace-grey-5: #3d3938;
    --mc-marketplace-grey-4: #6b6562;
    --mc-marketplace-grey-3: #aba09c;
    --mc-marketplace-grey-2: #d0c5c0;
    --mc-marketplace-grey-1: #ede5e2;
    --mc-marketplace-gradient-gold: linear-gradient(270deg, #fff27a, #ffc42b);
    --mc-default--fontlist: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --mc-gellix--fontlist: "Gellix", "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --mc-vanilla-fontlist: "MinecraftTenv2", "MinecraftTen", "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --mc-dungeons-fontlist: "Minecraft-Fivev2", "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --mc-dungeons2-fontlist: "MinecraftSixteen", "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --mc-realms-fontlist: "MinecraftTenv2", "MinecraftTen", "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --mc-legends-fontlist: "MinecraftSeven-v2", "MinecraftSeven", "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --mc-text-highlight-fontlist: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    --mc-default-focus: #1157be;
    --mc-default-caution: #e2b923;
    --mc-default-warning: #ca3636;
    --mc-default-warning-2: #ff605e;
}

*{box-sizing: border-box;}

body {
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    height: 100%;
}
header nav {background-color: #313131;
    color: white;
    display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
position: fixed;
width: 100%;
left: 0;
top: 0;
padding-left: 80px;
padding-right: 80px;}

header ul{list-style: none;
display: flex;
gap: 30px;}

header nav img{height:auto ;
width: 230px;}



.ul-1 {padding-right: 14em;
padding-left: 10px;}

.boton-verde {
border: 2px solid var(--mc-core-green-5);
color: var(--mc-core-green-3);
background-color: transparent;
width: 140px;
height: 35px;
font-family:var(--mc-default--fontlist) ;
font-size: 1.6ch;
display: flex;
gap: 1em;
align-items: center;
padding-left: 10px;
}

.boton-verde p {font-size: 3ch;
padding-top: 4px;}

.ul-2 div button{
padding-top: 4px;
display:flex ;
align-items: center;
padding-left: 10px;
font-size: 2ch;
width: 90px;
height: 35px;
background-color: transparent;
color: var(--mc-core-white);
border-color: transparent;
gap: 10px;
}
.ul-2 p {font-size: 2ch;}

.ul-2 div{display:flex ;}

.fondo{
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1000;
}

.fondos{ margin-top: -7em;
}

.cajas {display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 130px);
    column-gap: 15px;
    background-color: var(--mc-core-rich-black);
    margin-top: -13em;
}

.textosFondo {
width: 100%;
height: 100%;
background-color: var(--mc-core-rich-black);
padding:1em 3em 3em 3em ;
grid-column: 3/6;
grid-row: 2/4;
color: white;
z-index: 3;
border-color: transparent;
border-top: #313131;
border-style: solid;
border-width: 5px;
}


.btn-fondo1 {grid-column: 6/7;
grid-row: 3/4;
background-image:url(../img/fondo1.webp) ;
background-size: 160% 160%;
background-repeat: no-repeat;
background-position: center;
z-index: 3;
margin-top: 15px;
border-color: transparent;
}
.btn-fondo2   {grid-column: 7/8;
  grid-row: 3/4;
  background-image: url(../img/fondo2.jpg);
background-size: 160% 160%;
background-repeat: no-repeat;
background-position: center;
z-index: 3;
margin-top: 15px;
border-color: transparent;
}
.btn-fondo3{grid-column: 8/9;
grid-row: 3/4;
background-image:url(../img/fondo3.webp);
background-size: 160% 160%;
background-repeat: no-repeat;
background-position: center;
z-index: 3;
margin-top: 15px;
border-color: transparent;
}


.bloque-oscuro {background-color: var(--mc-core-rich-black);
    border-top: #313131;
    border-style: solid;
    border-width: 5px;

grid-column: 1/13;
grid-row: 3/5;
z-index: 1;}

.texto-fondo button { background-color: var(--mc-core-green-5);
width: 11em;
height: 4em;
font-size: 2ch;
border-style: solid;
color: var(--mc-core-white);
border-width: 5px;
border: none;
border-bottom: 8px var(--mc-core-green-6) solid;
border-top: 8px var(--mc-core-green-3) solid;

}

.textosFondo .texto-fondo {
  display: none;
}.textosFondo .texto-fondo.activo {
  display: block;
}
.juegos {background-color: var(--mc-core-rich-black);}

.juegos h1 {text-align: center;
font-size: 4ch ;
color: var(--mc-core-white);
margin-top: 0px;
padding-bottom: 30px ;
z-index: 1000;}

.contenedor-juegos{display: grid;
    grid-template-columns: repeat(4, 425px);
    grid-template-rows: repeat(2, 425px);
    column-gap: 20px ;
    justify-content: center;
    align-content:center ;
    margin: 10px 100px;
}

.juego img {width: 100%;
height: 100%;}

.juego {color: var(--mc-core-white);}

.juego ul {list-style: none;
display: flex;
gap: 15px;
margin-top: 30px ;
border-style: solid;
border-color: var(--mc-vanilla-grey-5) transparent transparent transparent;
border-width: 2px;
padding: 0.5em;

}

.juego ul li {font-size: 3ch;
color: var(--mc-vanilla-grey-5) ;}

.dungeons-2 {display: grid;
grid-template-columns: repeat(7, 200px);
grid-template-rows:repeat(2, 200px) ;}
